.login-page
  height: 100%
  background-color: #f5f5f5
  background-image: linear-gradient(90deg,rgba(245, 34, 45, .5),#00b4aa)
.login-form-wrap
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  .login-form
    width: 380px
    height: 380px
    display: flex
    justify-content: center
    flex-direction: column
    background-color: #ffffff
    // border: 1px solid #e5e5e5
    padding: 20px 20px 10px
    border-radius: 8px
    // box-shadow: 0 0 12px #e5e5e5
  .title
    text-align: center
    margin-top: -20px
    margin-bottom: 20px
  .login-form-forgot
    float: right
  .login-form-button
    width: 100%
